* {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
body, html {
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
}
body {
    background-color: #DCDCDC;
}
div, label, input, button, select, th, td, a {
    font-size: 13px;
}
#builder-container {
    width: 960px;
    margin: 20px 20px 0;
}
#builder-header {
    width: 920px;
    height: 44px;
    padding: 5px 20px 0;
    background: url(../images/v3/builder/hd_bar_bg.gif) 0 0 repeat-x white;
    border: 1px solid #bfbfbf;
}
#builder-title {
    color: #AAA7A7;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 28px;
    padding-top: 5px;
}
#builder-body {
    width: 922px;
    background-color: #FFFFFF;
    padding: 0 20px 20px 20px;
    min-height: 460px;
}
#builder-bar {
    padding: 10px 20px;
    background: #eee url(../images/v3/builder/tab_panel_bg.gif) left bottom repeat-x;
    margin-bottom: 10px;
}
#builder-content {
    min-height: 320px;
}
#builder-bar ul {
    list-style: none outside;
    padding: 0;
    margin: 0;
    height: 50px;
}
#builder-bar li {
    background:url(../images/v3/builder/steps_inactive-bg.gif) left top repeat-x;
    float: left;
    margin: 0;
}
#builder-bar a {
    display: block;
    background: url(../images/v3/builder/steps_arrow_inactive.gif) right top no-repeat;
    padding: 0 40px 0 25px;
    text-decoration: none
}
#builder-bar a span.steps-bg {
    width: 100px;
    display: block;
    font-size: 16px;
    color: #acacac;
    text-shadow: 1px 1px 0 #fff;
    height:49px;
    text-decoration: none;
    cursor: pointer;
}

#builder-bar span.title {
    font-size: 22px;
    height:22px;
    color: #f1ffbf;
    text-shadow: 1px 1px 0 #767676;
    display:block;
    padding: 3px 0 0 0
}
#builder-bar span.subtitle {
    font-size: 11px;
    color: #fff;
    text-shadow: 1px 1px 0 #767676;
    line-height: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif
}
#builder-bar li.active {
    background:url(../images/v3/builder/steps_active-bg.gif) left top repeat-x;
}
#builder-bar li.active a {
    background: url(../images/v3/builder/steps_arrow_active.gif) right top no-repeat
}
#builder-bar li.active a span.steps-bg {
    background:url(../images/v3/builder/steps_active-bg.gif) 0 0 repeat-x;
}
#builder-bar .first-active {
    border-left: 1px solid #989898;
}
#builder-bar .first-inactive {
    border-left: 1px solid #c2c1c1;
}
#builder-bar li.next a {
    background:url(../images/v3/builder/steps_active_next.gif) right top no-repeat
}
#builder-bar li.last-inactive a {
    border-right: 1px solid #c2c1c1; background: none; padding: 0 30px
}
#builder-bar li.last-active a {
    border-right: 1px solid #989898; background: none; padding: 0 30px
}
#builder-footer {
    text-align: center;
    color: #868686;
    text-shadow: 1px 1px 0 #fff;
    padding: 20px 0 40px
}
#builder-palette {
    display: block;
    width: 170px;
    border: 1px solid #D6D6D6;
    padding: 0px;
    margin: 5px;
    float: left;
    position: fixed;
    z-index: 1000;
    background: #ECECEC;
    -moz-box-shadow: 0 0 6px gray;
    -webkit-box-shadow: 0 0 6px gray;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
}
#builder-palette legend {
    display: none;
}
#builder-palette h3 {
    background: url("../images/v3/builder/sidebar_hd_title_bg.gif") repeat-x scroll 0 0 transparent;
    color: #fff;
    text-shadow: 1px 1px 1px #4c4c4c;
    padding: 5px;
    margin: 5px 5px;
}
#builder-palette ul {
    list-style: none outside;
    padding: 0px 5px;
    margin-left: 0px;
    margin-top: 0px;
}
#builder-palette ul li {
    padding-bottom: 2px;
    width: 148px;
    overflow: hidden;
}
#builder-palette-top {
    background: url(../images/v3/builder/sidebar_bg.gif) 0 0 repeat-x;
    width: 99%;
    height: 13px;
    display:block;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6
}
#builder-palette-body {
    height: 310px;
    overflow: auto;
}
#builder-section {
    width: 690px; 
    height: 300px; 
    overflow: visible;    
}
#form-canvas {
    position: absolute;
    left: 240px;
    float: left;
    display: block;
    min-width: 700px;
    border: none;
    padding: 5px;
    margin: 5px;
    background: #ffffff;
    -moz-box-shadow: 0 0 6px gray;
    -webkit-box-shadow: 0 0 6px gray;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;    
}
#form-canvas legend {
    display: none;
}

.builder-palette-column, .builder-palette-action, .form-palette-section, .form-palette-column {
    border: dotted 1px #dddddd;
    cursor: pointer;
    line-height: 28px;
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
    color: #4C4C4C;
    background: url("../images/v3/builder/sidebar_element.gif") no-repeat scroll 0 0 transparent;
}
.form-palette-section {
    background: #cccccc;
    height: 30px;
    min-width: 200px;
}
.form-palette-column {
    height: 30px;
    width: 200px;
}
.builder-palette-column {
    position: relative;
    min-height: 30px;
    color: black;
    min-width: 120px;
    height: 30px;
}
.builder-palette-column .label {
    /*width: 30%;*/
    display: block;
    float: left;
}
.form-cell-highlight {
    padding-bottom: 0px;
    background: #f0ffcc;
}
.form-container .ui-sortable-placeholder {
    border: 1px dotted #111111;
    visibility: visible !important;
    height: 50px !important;
    background: #666666;
    color: white;
}
.form-section .ui-sortable-placeholder {
    max-width: 150px;
}
.form-column .ui-sortable-placeholder {
    max-width: 100%;
}
.form-container .ui-sortable-placeholder * {
    visibility: visible;
}
.form-palette-options {
    display: block;
    visibility: hidden;
    position: relative;
    text-align: right;
    font-size: 7px;
    background: none;
    width: 100%;
    z-index: 100;
}
.form-section .form-palette-options {
    top: 0px;
    right: 0px;
    margin-bottom: 4px;
}

.form-cell .form-palette-options {
    top: 0px;
    left: 0px;
    text-align: center;
}
.form-palette-options button {
    font-size: 13px;
    height: 18px;
    line-height: 15px;
    padding: 0px 2px;
    margin-top: 4px;
    margin-left: 2px;
    cursor: pointer;
    background: #f0ffcc;
    border: solid 1px #666666;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
    z-index: 300;
    -moz-box-shadow: 0 0 6px green;
    -webkit-box-shadow: 0 0 6px green;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
}
.form-palette-options button:hover {
    background: lightgreen;
}
.form-clear {
    clear: both;
}

.form-section, .form-column, .form-cell {
    /*border: dotted 1px #dddddd;*/
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.form-section {
    position: relative;
    /*border: dashed 2px #cccccc;*/
    height: 100%;
    overflow: hidden;
    background: white;
    min-height: 50px;
    margin-bottom: 10px;
}
.form-section-title {
    padding: 3px;
    font-weight: bold;
}
.form-palette-section {
    background: #cccccc;
    height: 30px;
    min-width: 200px;
}
.form-column {
    position: relative;
    border: dashed 2px #dddddd;
    width: 200px;
    float: left;
    height: 100%;
    min-height: 30px;
    width: 250px;
    padding: 0px 0px 0px 0px;
    color: #666666;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.form-column .hint {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #aaaaaa;
    background: white;
}
.form-cell {
    position: relative;
    min-height: 30px;
    color: black;
    clear: left;
}
.form-cell .label {
    width: 30%;
    display: block;
    float: left;
}
.form-cell-highlight {
    padding-bottom: 0px;
    background: #f0ffcc;
}
.form-clear {
    clear: both;
}
.form-error-cell {
    border: solid 1px red;
}
.form-error-message {
    color: red;
    font-size: smaller;
    display: block;
}
.form-cell-validator {
    color: red;
    font-size: smaller;
}

#builder-canvas{
    overflow: auto;
    width: 100%;
}

ul#databuilderContentFilters {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    display:block;
    width: 680px;
    float: left;
    height: 58px;
}

td#tdDatabuilderContentFilters {
    border-bottom: 2px dotted #DDDDDD;
}

ul#databuilderContentActions {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    display:block;
    width: 680px;
    float: left;
    height: 50px;
}

td#tdDatabuilderContentActions {
    border-top: 2px dotted #DDDDDD;
}

ul#databuilderContentColumns {
    border: none;
    min-height: 165px;
    min-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display:block;
    height: 170px;
}

ul#databuilderContentColumns{
    width: 525px;
}

ul#databuilderContentRowActions{
    width: 140px;
    min-height: 165px;
    min-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display:block;
    height: 170px;
}

td#tdDatabuilderContentRowActions{
    border-left: 2px dotted #DDDDDD;
}

ul#databuilderContentColumns li.databuilderItem{
    cursor: pointer;
    float: left;
    position: relative;
    min-width: 130px;
    height: auto;
    margin: 2px;
}

ul#databuilderContentRowActions li.databuilderRowAction{
    cursor: pointer;
    float: left;
    position: relative;
    min-width: 100px;
    height: auto;
    margin: 2px;
}

ul#databuilderContentActions li.databuilderAction{
    cursor: pointer;
    float: left;
    position: relative;
    min-width: 100px;
    height: auto;
    padding: 1px;
}

ul#databuilderContentFilters li.databuilderFilter{
    cursor: pointer;
    float: right;
    position: relative;
    min-width: 120px;
    height: auto;
    padding: 10px;
}

ul#databuilderContentFilters li.databuilderFilter .content{
    border: 1px solid #DEDEDE;
    text-align:center;
}

ul#databuilderContentColumns li.databuilderItem div.databuilderItemContent,
ul#databuilderContentRowActions li.databuilderRowAction div.databuilderItemContent{
    border: 1px solid #DEDEDE;
}

ul#databuilderContentActions li.databuilderAction div.databuilderItemContent{
    text-align: center;
    border: 1px solid #DEDEDE;
    width: 100%;
}

ul#databuilderContentColumns li.databuilderItem div.databuilderItemTitle{
    background: none repeat scroll 0 0 #E4F6C0;
    border: 1px solid #DEDEDE;
    font-size: 1.1em;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

ul#databuilderContentColumns li.databuilderItem div.databuilderItemContent ul{
    padding: 0;
    margin: 0;
}

ul#databuilderContentColumns li.databuilderItem div.databuilderItemContent ul li{
    background: #ffffff;
    list-style: circle inside none;
    padding-left: 10px;
    margin: 0;
}

ul#databuilderContentColumns li.databuilderItem div.databuilderItemContent ul li.even{
    background: #f7f8f5;
    list-style: circle inside none;
    padding-left: 10px;
    margin: 0;
}

ul#databuilderContentRowActions li.databuilderRowAction div.databuilderItemContent ul{
    padding: 0;
    margin: 0;
}

ul#databuilderContentRowActions li.databuilderRowAction div.databuilderItemContent ul li{
    background: #fff;
    list-style: none;
    padding-left: 10px;
    white-space: nowrap;
}

ul#databuilderContentRowActions li.databuilderRowAction div.databuilderItemContent ul li.even{
    background: #f7f8f5;
    list-style: none;
    padding-left: 10px;
    white-space: nowrap;
}

ul#databuilderContentRowActions li.databuilderRowAction div.databuilderItemTitle{
    background: none repeat scroll 0 0 #C4D899;
    border: 1px solid #DEDEDE;
    font-size: 1.1em;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
}

ul#databuilderContentActions li.databuilderAction div.databuilderItemTitle{
    display:none;
}

.hint {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #aaaaaa;
    background: white;
}

#list-advanced {
    clear: both;
    margin-left: 220px;
    margin-top: 390px;
}
#main-action-help {
    background: url(../images/v3/console/icn_form_help.png) 0 0 no-repeat; 
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    left: 932px;
}